<p>Home of the currently logged in user</p>
<p> There should be an avatar and name</p>
<p> There should be buttons to edit homepage</p>
<p> There should be stats about the logged in user</p>

<%= render :partial => 'shared/images_grid', :locals => { image_list: @images, with_author: false } %>