<p>Some User</p>
<p> There should be an avatar and name</p>
<p> There should be buttons to follow or smth</p>
<p> There should be stats about the user</p>
<%= render :partial => 'shared/images_grid', :locals => { image_list: @images, with_author: false } %>