<%-# partial for rails alerts -%>
<% if flash.any? %>  
  <div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a> 
    <% flash.each do |key, message| %>
      <p class="notice alert"><%= message %></p>
    <% end %>
  </div>
<% end %>