// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 360px 360px 360px;

  .grid-item {
    background-color: #eee;
<<<<<<< HEAD
    //border: 1px solid rgba($color: #555, $alpha: 0.1);
=======
    // border: 1px solid rgba($color: #555, $alpha: 0.1);
>>>>>>> f6c620df58ca553278c39d01ee6ca6a357eb12c3
    height: 360px;
    width: 360px;
    position: relative;

    $hovercolor: rgba(
      $color: #fdfdfd,
      $alpha: 0.7
    );

    &:hover {
      background-color: $hovercolor;
      .hovering-author {
        display: block;
      }
      .hovering-likes {
        display: block;
      }
    }

    .hovering-author {
      position: absolute;
      top: -1px;
      width: 100%;
      z-index: 1;

      display: none;
      background-color: $hovercolor;
    }

    .hovering-likes {
      position: absolute;
      bottom: -1px;
      width: 100%;
      z-index: 1;

      display: none;
      background-color: $hovercolor;
    }

    .centering-container {
      width: 100%;
      height: 100%;

      position: absolute;
      z-index: 0;

      // center image
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
