// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 360px 360px 360px;

  .grid-item {
    background-color: lightgray;
    border: 1px solid rgba($color: #000000, $alpha: 0.8);
    height: 360px;
    width: 360px;
  }
}
