<div class="image-grid">

<% image_list.each do |img|%>
  
  <div class="grid-item">
    
    <div class="hovering-author">
      <%= img.name.to_s %> <%= User.find(img.user_id).username unless img.user_id.nil?  %>
    </div>
    
    <%= link_to(img) do %>
      <div class="centering-container">
        <%= image_tag img.image_datafile.variant(resize: '360x360x'), class: "centered" %>
      </div>
    <% end %>

    <div class="hovering-likes">321 likes</div>
  </div>
  
<% end %>

</div>